@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&family=Roboto:ital,wght@0,300;0,400;0,700;1,900&display=swap');

body{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: normal;
}

.bg-darkk{
    background-color: #232536;
    width: 100%;
}

.Poppins-mini {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.Poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.Poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.Poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.Poppins-exbold{
    font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/**.responsive{
  responsive: true;
  transition-property: float;
  width: 100%;
}

/**ÍNDEX**/

.navbar{
    padding: 0;
}

.navbar-nav .nav-link.active{
    color: white;
    text-align: end;
  }

.button_subscribe{
    border-radius: 5px;
    border: solid 1px white;
    width: 152px;
    height: 50px;
    top: 14px;
}

.container-fluid.bg-darkk{
    width: 100%;
    height: 80px;
}

.layout{
    background-image: url(../img/cotxe_1.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    flex-direction: space-around;
    color: white;
}

.layout::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 594px;
    padding-top: 80px;
    padding-left: 0;
    padding-right: 20px;
    background-color: rgba(0, 0, 0, 0.25);
    height: 100vh;
    z-index: 1;
}

.h1{
    z-index: 2;
    padding-left: 50px;
    padding-top: 77px;
    padding-bottom: 5px;
    padding-right: 516px;
}

.layout .Poppins-light{
    z-index: 2;
    width: 600px;
    height: 100px;
    top: 447px;
    padding-left: 50px;

}

.circle{
  color: white;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  top: 15px;
  left: 50px;
}

.button_subscribe2{
  border-radius: 5px;
  margin-left: 50px;
  border: solid 1px rgba(255, 89, 89, 1);
  width: 150px;
  height: 60.05px;
  top: 577px;
  z-index: 2;
  background-color: rgba(255, 89, 89, 1);
}

.margin{
 width: 90%;
  height: 830px;
  top: 785px;
  left: 50px;
  margin-top: 111px;
  margin-left: 20px;
  align-items: center;
}

link{
  background-color: white;
}

.par_index{
  font-size: 20px;
}

@media (max-width: 1700px) {
  .par_index {
    font-size: 15px;
  }
}

@media (max-width: 1500px) {
  .par_index {
    font-size: 10px;
  }
}

.size {
  font-size: 28px;
}

@media (max-width: 1800px) {
  .size {
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  .size {
    font-size: 15px;
  }
}

@media (max-width: 900px) {
  .size {
    font-size: 10px;
  }
}


.latest{
  padding-left: 30px;
}

.latest .Poppins-mini{
  margin-right: 40px;
}

.latest .Poppins-bold{
  margin-right: 50px;
}

.img_latest{
  width: 700px;
  height: 369px;
  top: 868px;
  left: 77px;
}

.By_Jhon{
  font-size: 12px;
  margin-top: 10px;
}

.jhon{
  width: 100%;
}

.see{
  text-align: end;
  text-decoration: none;
  text-transform: none;
  padding-right: 30px;
}

.lorem{
  color: white;
  font-weight: bold;
  background-color: rgba(255, 89, 89, 1);
  padding-right: 50px;
}

.button_more{
  color: white;
  font-weight: bold;
  background-color: rgba(255, 89, 89, 1);
  width: 280px;
  height: 61px;
  left: 77px;
  border-radius: 10px;
  border: solid rgba(255, 89, 89, 1);
}

.trending{
  padding: 20px;
}

.margin_2{
  width: 90%;
  height: 30vw;
  top: 1673px;
  margin-left: 50px;
  margin-top: 30px;
}

.all_cate{
  width: 90%;
  height: 450.67px;
  top: 1673px;
  margin-top: 50px;
  margin-left: 50px;
  border-top: 1px solid #2325364D;
}

.margin_h2{
  margin-left: 50px;
  text-align: start;
}

.blok{
  width: 100%;
  height: 200px;
  top: 69px;
  left: 16px;
  border-radius: 8px;
  align-items: center;
}

.bg-grey{
  background-color: rgba(244, 240, 248, 1);
  border-radius: 13px;
  padding: 10px;
  align-self: center;
  width: 200px;
}

.bg-grey2{
  background-color: rgba(244, 240, 248, 1);
  border-radius: 13px;
  padding: 10px;
  align-self: center;
  width: 100px;
  height: 250px;
}

.par{
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1700px) {
  .par {
    font-size: 12px;
  }
}

@media (max-width: 1500px) {
  .par {
    font-size: 10px;
  }
}


.p{
  margin-right: 100px;
  width: 248px;
  height: 69px;
  margin-top: 20px;
}

.col-md-3 {
  flex: 0 0 auto;
  width: 17%;
  margin-right: 20px;
  margin-left: 40px;
}

.row{
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: space-between;
  margin-left: 150px;
}

.foto_creador{
  width: 53px;
  height: 53px;
  top: 382px;
  left: 16px;
  border-radius: 50px;
}

.p_foto_creador1{
  width: 100%;
  height: 20px;
  margin-bottom: 0;
  margin-top: 15px;
  margin-left: 5px;
}

.p_foto_creador2{
  width: 184px;
  height: 21px;
  font-size: 13px;
  margin-left: 5px;
}

.blok2{
  width: 90px;
  height: 95px;
  top: 140px;
  border-radius: 50px;
  align-items: center;
}

.testimonials{
  width: 100%;
  height: 380px;
  top: 2671px;
  padding-right: 50px;
}

.testimonials_1{
  width: 321.95px;
  height: 228px;
  margin-top: 75px;
  margin-left: 200px;
  border-right: 1px solid #FBF6EA;
}

.testimonials_2{
  margin-left: 100px;
}

@media (max-width: 1600px) {
  .testimonials_2 {
    font-size: 15px;
  }
}

@media (max-width: 1000px) {
  .testimonials_2 {
    font-size: 10px;
  }
}

.foto_testi{
  border-radius: 40px;
  width: 44.25px;
  height: 48px;
  margin-left: 100px;
  margin-top: 40px;
}

.text_foto{
  font-size: 20px;
  margin-top: 40px;
  margin-left: 15px;
  padding-top: 20px;
  padding-bottom: 10px ;
}

.text_foto_2{
  font-size: 10px;
  margin-top: 70px;
  padding-top: 20px;
  margin-left: -180px;
}

.text_foto_3{
  font-size: 10px;
  margin-top: 95px;
  margin-left: -47px;
  padding-top: 25px;
}

.arrow{
  align-items: center;
  text-align: center;
  background-color: white;
  color: black;
  width: 48px;
  height: 48px;
  top: 2815px;
  margin-left: 250px;
  border-radius: 50px;
  margin-top: 50px;
}

.svg{
  margin-top: 12px;
}

.arrow_2{
  align-items: center;
  text-align: center;
  background-color: #ff5959;
  color: black;
  width: 62px;
  height: 62px;
  top: 2938px;
  margin-left: 10px;
  border-radius: 50px;
  margin-top: 50px;
}

.svg_2{
  margin-top: 18px;
}

.Technology{
  width: 100%;
  height: 450.67px;
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 50px;
}

.circle_2{
  color: #FFD6D6;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  top: 15px;
  left: 50px;
}

.bg-blackk{
  width: 93%;
  height: 235.73px;
  top: 3830.58px;
  margin-left: 60px;
  background-color: #2A2B39;
}

/** FOOTER **/

.footer{
  width: 100%;
  height: 430px;
  top: 3706px;
}

.footer_2{
  width: 100%;
  height: 62.74px;
  top: 3917.53px;
  left: 89px;
  margin-left: 40px;
}

@media (max-width: 1500px) {
  .footer_2 {
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  .footer_2 {
    font-size: 18px;
  }
}

@media (max-width: 700px) {
  .footer_2 {
    font-size: 15px;
  }
}

.bg-whitte{
  background-color: white;
  color: #00000080;
  width: 100%;
  height: 60.05px;
  top: 3919.32px;
  left: 60px;
  border-radius: 10px;
  margin-left: 20px;
  padding-top: 18px;
  padding-left: 15px;
}

.b_footer{
  width: 40%;
  height: 60.05px;
  top: 3919.32px;
  left: 1003px;
  margin-right: 40px;
  margin-bottom: 15px;
}

.peu{
  width: 36%;
  height: 25.1px;
  top: 4096.79px;
  opacity: 70%;
  margin-top: 20px;
}

.text-end{
  margin-left: 53.7vw;
}

/** BLOG **/

.blog{
  background-color: #31323C;
  width: 100%;
  height: 541px;
  top: 80px;
  color: white;
}

.blog .Poppins-light{
  z-index: 2;
  width: 600px;
  height: 100px;
  top: 447px;
  padding-left: 50px;
}

.car_blog{
  width: 80%;
  margin-left: 700px;
  margin-top: -60px;
}
.img_b{
  z-index: 1;
  width: 180px;
  height: 272px;
  margin-top: -500px;
  margin-left: 400px;
}

.img_b2{
  z-index: 2;
  width: 180px;
  height: 350px;
  margin-top: -490px;
  margin-left: -320px;
}

.img_b3{
  z-index: 1;
  width: 186px;
  height: 350px;
  padding-top: 75px;
  margin-top: -200px;
  margin-left: -80px;
}

.img_b4{
 width: 200px;
 height: 357px;
 margin-top: -280px;
 margin-left: 20px; 
}

.All_posts{
  color: #232536;
  width: 100%;
  height: 99px;
  top: 676px;
  margin-top: 30px;
  margin-left: 30px;
  border-bottom: 1px solid #6D6E76;
}

.section_blog{
  width: 100%;
  height: 350px;
  margin-top: 40px;
  margin-left: -20px;
}

.img_b_a{
  width: 90%;
  height: 350px;
}

.par_blog{
  width: 100%;
  font-size: 20px;
}
  
@media (max-width: 1600px) {
  .par_blog {
    font-size: 15px;
  }
}

@media (max-width: 1000px) {
  .par_blog {
    font-size: 10px;
  }
}


.button_blog{
  color: white;
  font-weight: bold;
  background-color: #FF5959;
  width: 30%;
  height: 38px;
  left: 77px;
  border-radius: 5px;
  border: solid #FF5959;
  font-size: 14px;
}

@media (max-width: 1200px) {
  .button_blog {
    font-size: 10px;
  }
}


.espai{
  margin-bottom: 150px;
}

/**SINGEL**/

.img_singel{
  width: 94%;
  height: 586px;
  top: 80px;
  margin-left: 50px;
}

.h1_single{
  margin-top: 20px;
  margin-left: 50px;
}

.perfil_singel{
  margin-left: 50px;
  margin-top: 5px;
}

.p_foto_creador1_s{
  width: 65px;
  height: 20px;
  margin-bottom: 0;
  margin-left: 5px;
}

.p_foto_creador2_s{
  width: 184px;
  height: 21px;
  font-size: 13px;
  margin-left: 30px;
  margin-top: 22px;
}

.lorem_singel{
  width: 90%;
  height: 500px;
  top: 910px;
  margin-left: 159px;
}

.lorem_color{
  color: #232536;
  width: 80%;
}

.div_singel{
  width: 80%;
  font-size: 15px;
}

@media (max-width: 1200px) {
  .div_singel {
    font-size: 12px;
  }
}

.li_singel{
  margin-left: -15px;
}

.color{
  color: #161722;
}

/** FORM **/

.img_contact{
  width: 100%;
  height: 600px;
  top: 80px;
}

.form{
  margin-left: 50px;
  margin-top: 20px;
}

.form-control{
  width: 50%;
}

.height{
  width: 80%;
  height: 200px;
}

.mapa{
  width: 100%;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-label{
  font-size: 20px;
}
