@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&family=Roboto:ital,wght@0,300;0,400;0,700;1,900&display=swap');

body{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: normal;
}

.bg-darkk{
    background-color: #232536;
}

.Poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.Poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.Poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.Poppins-exbold{
    font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.navbar{
    padding: 0;
}

.navbar-nav .nav-link.active{
    color: white;
    text-align: end;
  }

.button_subscribe{
    border-radius: 5px;
    border: solid 1px white;
    width: 152px;
    height: 50px;
    top: 14px;
}

.container-fluid.bg-darkk{
    width: 1280px;
    height: 80px;
}

.layout{
    background-image: url(../img/cotxe_1.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    color: white;
}

.layout::after{
    content: "";
    position: absolute;
    width: 1220px;
    height: 594px;
    padding-top: 80px;
    padding-left: 0;
    padding-right: 20px;
    background-color: rgba(0, 0, 0, 0.25);
    height: 100vh;
    z-index: 1;
}

.layout .h1.Poppins-exbold{
    z-index: 2;
    padding-left: 50px;
    padding-top: 77px;
    padding-bottom: 5px;
    padding-right: 516px;
}

.layout .Poppins-light{
    z-index: 2;
    width: 600px;
    height: 100px;
    top: 447px;
    padding-left: 50px;

}
